<!DOCTYPE html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ table }}</title>
</head>


<body>
    {% if table %}

    {% for table in warnings_table %}
            {{titles[loop.index]}}
            {{ table|safe }}
    {% endfor %}

    {{ download }}

    {% else %}


    Please pick a datatype:
    <form action="/bight23checker/warnings-report">
        <label for="datatype">
            <select name= datatype id="datatype" method="GET" action="/">
                {% for data in dataset_options %}
                <option value="{{data}}"> {{data}}</option>
                {% endfor %}
            </select>
            <button id="test" onclick="generate_tables();">Generate tables</button>
            <!-- <input type="submit" value="Generate tables"> -->
        </label>
        <br>
    </form>

    <script lang="js">
        // fetch("/var/www/bight23/checker/proj/config/config.json").then(function (response) {
        //     return response.json
        // }). then(function (obj) {
        //     console.log(obj)
        // })
        // function generate_tables() {
        //     var datatype = document.getElementById("datatype")
        //     return datatype
        //     console.log(datatype)
        // }
        // function generate_tables() {
        //     selectElement = document.querySelector('datatype');
        //     // output = selectElement.value;
        //     // document.querySelector('.output').textContent = output;
        //     console.log(selectElement)
        // }
        function generate_tables() {
            var datatype = document.getElementById("datatype");
            console.log(datatype)
        }

        test.addEventListener("click", generate_tables);


    </script>
    
    <br>
    <form action="/bight23checker/warnings-report">
        <label for="table">
            <select name= table method="GET" action="/">
                {% for data in table_options %}
                <option value="{{data}}"> {{data}}</option>
                {% endfor %}
            </select>
        </label>
        <input type="submit" value="Generate Report">

    </form>
    {% endif %}








    <!-- <a href="{{request.script_root}}/warnings-report?datatype=test">Chemistry</a> -->


</body>

</html>

<!-- tbl_chembatch -->